<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container-fluid'>

    <div class='navbar-header'>
      <a href='/' class='navbar-left'><img src='/img/icon-wh.svg'></a>
      <a class='navbar-brand' href='/'> ARM Viewer </a>
    </div>

    <ul class='nav navbar-nav'>
      <li><a data-toggle="modal" data-target="#dialogLoadFile" class='btn btn-success navbar-btn'><i class="fa fa-file-code-o"></i>&nbsp; Load File</a></li>
      <li><a data-toggle="modal" data-target="#dialogLoadLink" class='btn btn-success navbar-btn'><i class="fa fa-external-link"></i>&nbsp; Load URL</a></li>
      <li><a href="/qs" class='btn btn-success navbar-btn'><i class="fa fa-git-square"></i>&nbsp; Load Quickstart</a></li>
    </ul>
  
    <% if(!isHome) { %>
      <ul class='nav navbar-nav pull-right' >
        <li><a style="font-size:170%" class='btn btn-primary navbar-btn' 
          id="snapBut" onclick='toggleSnap()' data-toggle="tooltip" 
          title="Snap to grid"><i class="fa fa-th"></i></a></li>

        <li><a style="font-size:170%" class='btn btn-primary navbar-btn' 
          onclick='cy.fit()' data-toggle="tooltip"
          title="Refit view"><i class="fa fa-compress"></i></a></li>

        <li><a style="font-size:170%" class='btn btn-primary navbar-btn' 
          onclick='reLayout()' data-toggle="tooltip"
          title="Re-layout"><i class="fa fa-clone"></i></a></li>
              
        <li><a style="font-size:170%" class='btn btn-primary navbar-btn' 
          onclick='savePNG()' data-toggle="tooltip"
          title="Save as PNG"><i class="fa fa-download"></i></a></li>
      </ul>
    <% } %>
  
  </div>
</nav>

<!-- ================================================== -->

<div id="dialogLoadFile" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Load Template From File</h4>
        </div>
        <div class="modal-body">
          <form method="post" id="fileform" action="/view" encType="multipart/form-data">
            <div class="form-group">
                <label for="file"></label>JSON file:</label>
                <input type="file" class="form-control" name="template">
            </div>
          </form>
        </div>
        <div class="modal-footer">
           <button class="btn btn-success" data-dismiss="modal" 
             onclick="$('#fileform').submit()">
              &nbsp; OK &nbsp; 
           </button>
           <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
     </div>
  </div>
</div>

<!-- ==================================================== -->

<div id="dialogLoadLink" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Load Template From URL</h4>
        </div>
        <div class="modal-body">
           <div class="form-group">
              <label for="url">Template URL:</label>
              <input type="text" class="form-control" id="url" placeholder="">
           </div>
        </div>
        <div class="modal-footer">
           <button class="btn btn-success" data-dismiss="modal" 
             onclick="document.location = `/view?url=${encodeURIComponent($('#url').val())}`">
              &nbsp; OK &nbsp; 
           </button>
           <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
     </div>
  </div>
</div>

<!-- =============================================== -->

<script>
  $('#dialogLoadLink').on('shown.bs.modal', function () {
    $('input:text:visible:first', this).focus();
  });   

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({delay: 200, placement: 'bottom', container: 'main'}); 
  });
</script>