<meta charset="UTF-8">

<title>ARM Viewer</title>
<link rel="icon" type="image/png" href="/img/icon.png">

<!-- Load in themed Bootstrap from CDN -->
<!--link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"-->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Load in Font Awesome 5 Pro -->
<script src="/js/fontawesome-all.js"></script>

<!-- Load in jQuery from CDN, drop back to v2 or v1 if problems -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Site specific CSS & JS -->
<link rel="stylesheet" href="/css/styles.css"/>

<link href="/css/snackbar.css" rel="stylesheet" />

<!-- Mobile optimized -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0078D7"/>

<!-- App insights -->
<%if (process.env.APPINSIGHTS_INSTRUMENTATIONKEY) { %>
   <script type="text/javascript">
     var appInsights=window.appInsights||function(config){
       function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
       }({
           instrumentationKey:"<%=process.env.APPINSIGHTS_INSTRUMENTATIONKEY%>"
       });
       window.appInsights=appInsights;
       appInsights.trackPageView();
   </script> 
 <% } %>