<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="panel panel-danger">
      <div class="panel-heading">ERROR!</div>
      <div class="panel-body">
        <p class="error"><%= err %></p>
        
        <button class="btn btn-default" onclick="window.history.back();"><i class="fas fa-chevron-square-left"></i> BACK</button>

      </div>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>