<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2><img src="/img/icon.svg" height="90px"/> &nbsp; ARM Template Viewer</h2>
      <p>
        This app will help you visualize and display graphically your Azure Resource Manager templates, all the resources and dependencies will be mapped out as a series of connected nodes. 
        <br/><br/>
        Please be aware of the <a href="https://github.com/benc-uk/azure-armviewer#limitations--known-issues">known issues and limitations</a>, and report any bugs on <a href='https://github.com/benc-uk/azure-armviewer/issues'>Github</a> 
        <br/><br/>
        To get started simply load a template using one of the buttons above.
      </p>
       
      <hr/> 
      <a href="https://github.com/benc-uk/azure-armviewer" target="_blank">Source on Github <i class="fab fa-github"></i></a>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>