<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2><img src="/img/icon.svg" height="90px"/> &nbsp; ARM Template Viewer</h2>
      <h4>
        This web app visually maps out any Azure Resource Manager template, all the resources and dependency 
        links will be displayed graphically as a series of connected nodes. 
        <br/>
        It is currently a work in progress :) Report any bugs on <a href='https://github.com/benc-uk/azure-armviewer'>Github</a> 
        <br/><br/>
        To get started simply load a template using one of the buttons above.
      </h4>
       
      <hr/> 
      <a href="https://github.com/benc-uk/azure-armviewer" target="_blank">Source on Github <i class="fab fa-github"></i></a>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>