<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2><img src="/public/img/icon.svg" height="90px"/> ARM Template Viewer</h2>
      <p>Load a template using the menu</p>
    </div>

    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>

  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>