<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2>ARM Template Viewer</h2>
      <div style="display: flex; flex-wrap: nowrap;">
        <div class="homeimg hidden-xs"><img src="/img/icon.svg"/></div>
        <div class="hometext">
            This app will help you visualize and display graphically your Azure Resource Manager 
            templates, all the resources and dependencies will be mapped out as a series of 
            connected nodes. 
            <br/><br/>
            Please be aware of the 
            <a href="https://github.com/benc-uk/azure-armviewer#limitations--known-issues">
              known issues and limitations
            </a>, and report any bugs on 
            <a href='https://github.com/benc-uk/azure-armviewer/issues'>
              Github
            </a> 
            <br/><br/>
            To get started simply load a template using one of the buttons above.<br/>
            If you are feeling adventurous try <a href="/view?url=https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F100-blank-template%2Fazuredeploy.json">loading a blank template</a> and play with the experimental editor
            <hr/> 
            <a href="https://github.com/benc-uk/azure-armviewer" target="_blank">Source on Github <i class="fab fa-github"></i></a>

        </div>
      </div>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>