<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2><img src="/img/icon.svg" height="90px"/> &nbsp; ARM Template Viewer</h2>
      This app visually maps out any ARM template, all the resources and dependency links. 
      It is currently a work in progress. Report any bugs on <a href='https://github.com/benc-uk/azure-armviewer'>Github</a> 
      <br/><br/>
      To get started load a template via a file or URL link, using the buttons above. Alternatively
      try it out with some of the Azure quickstart templates
      <ul>
        <li><a href='/url/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F101-mobile-app-create%2Fazuredeploy.json'>101-mobile-app-create</a></li>
        <li><a href='/url/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F101-vm-simple-linux%2Fazuredeploy.json'>101-vm-simple-linux</a></li>
        <li><a href='/url/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2F201-site-to-site-vpn%2Fazuredeploy.json'>201-site-to-site-vpn</a></li>
      </ul>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>