<!DOCTYPE html>
<html lang="en">
<head> 
  <% include partials/head %> 
  <script src="/js/cytoscape.min.js"></script>
  <script src="/js/cytoscape-snap-to-grid.js"></script>
  <script src="/js/fileSaver.js"></script>
  <script src="/js/arm-viewer.js"></script>
</head>

<body>

  <header> <% include partials/header %> </header>

  <main>
    <div id="mainview">
    </div>
  </main>

  <div id="infobox" class="panel panel-primary" onclick="$('#infobox').toggle('slide'); infoShown = false;">
    <div class="panel-heading"><img id="infoimg" src=''/> &nbsp; Resource Details</div>
    <div class="panel-body">
      <table id="infotable">    
      </table>
    </div>
  </div>

  <script>
    let data = JSON.parse('<%- dataJSON %>');
    //console.dir(data);
    initCy();
    loadData(data)

    $(window).resize(function() {
      cy.resize();
      cy.fit();
    });
  </script>
</body>
</html>