<!DOCTYPE html>
<html lang="en">
<head> 
  <% include partials/head %> 
  <script src="/js/cytoscape.min.js"></script>
  <script src="/js/cytoscape-snap-to-grid.js"></script>
  <script src="/js/fileSaver.js"></script>
  <script src="/js/viewer.js"></script>
</head>

<body>

  <header> <% include partials/header %> </header>

  <main>
    <div id="mainview">
    </div>
  </main>

  <div id="infobox" class="panel panel-primary">
    <div class="panel-heading"><img id="infoimg" src=''/> &nbsp; Resource Details</div>
    <div class="panel-body">
      <b>Type:</b> <span id="infotype"></span><br/>
      <b>Name:</b> <span id="infoname"></span><br/>
      <b>Location:</b> <span id="infoloc"></span><br/>
    </div>
  </div>

  <script>
    let data = JSON.parse('<%- dataJSON %>');
    initCy();
    loadData(data)

    $(window).resize(function() {
      cy.resize();
      cy.fit();
    });
  </script>
</body>
</html>