<!DOCTYPE html>
<html lang="en">
<head> 
  <% include partials/head %> 
  <script src="/js/cytoscape.min.js"></script>
  <script src="/js/cytoscape-snap-to-grid.js"></script>
  <script src="/js/fileSaver.js"></script>
  <script src="/js/arm-viewer.js"></script>
  <script src="/js/arm-editor.js"></script>
  <!--script src="/js/prism.js"></script-->
</head>

<body>

  <header> <% include partials/header %> </header>

  <main>
    <div id="mainview"></div>
    <form id="editorform" action="/edit" method="POST">
      <textarea id="editor" wrap="soft" name="editor"></textarea>
    </form>
    <div id="snackbar">Some text some message..</div>
  </main>

  <div id="infobox" class="panel panel-primary">
    <div class="panel-heading" onclick="hideInfo()"><img id="infoimg" src=''/> &nbsp; Resource Details</div>
    <div class="panel-body">
      <table id="infotable">    
      </table>
    </div>
  </div>

  <script>
    let data = JSON.parse('<%- dataJSON %>');
    console.log(data);
    let template = unescape('<%- template %>');
    if(data.length == 0) startEditor();

    initCy();
    loadData(data)

    $(window).resize(function() {
      cy.resize();
      cy.fit();
    });
  </script>
</body>
</html>