<!DOCTYPE html>
<html lang="en">
<head> 
  <% include partials/head %> 
  <script src="/js/cytoscape.min.js"></script>
  <script src="/js/cytoscape-snap-to-grid.js"></script>
  <script src="/js/fileSaver.js"></script>
  <script src="/js/viewer.js"></script>
</head>

<body>

  <header> <% include partials/header %> </header>

  <main>
    <div id="mainview">
    </div>
  </main>

  <div id="infobox" class="panel panel-primary">
    <div class="panel-heading"><img id="infoimg" src=''/> &nbsp; Resource Details</div>
    <div class="panel-body">
      <table>    
        <tr><td>Type:&nbsp;</td><td id="infotype"></td></tr>
        <tr><td>Name:&nbsp;</td><td id="infoname"></td></tr>
        <tr><td>Location:&nbsp;</td><td id="infoloc"></td></tr>
        <tr><td>Kind:&nbsp;</td><td id="infokind"></td></tr>
        <tr><td>VM Info:&nbsp;</td><td id="infovm"></td></tr>
      </table>
    </div>
  </div>

  <script>
    let data = JSON.parse('<%- dataJSON %>');
    initCy();
    loadData(data)

    $(window).resize(function() {
      cy.resize();
      cy.fit();
    });
  </script>
</body>
</html>