$light-green: rgb(186, 216, 10);
$green:       rgb(16, 124, 16);
$dark-green:  rgb(0, 75, 28);

$light-teal: rgb(0, 178, 148);
$teal:       rgb(0, 130, 114);
$dark-teal:  rgb(0, 75, 80);

$light-blue: rgb(0, 188, 242);
$blue:       rgb(0, 120, 215);
$mid-blue:   rgb(0, 24, 143);
$dark-blue:  rgb(0, 32, 80);

$light-purlple: rgb(180, 160, 255);
$purlple:       rgb(92, 45, 145);
$dark-purlple:  rgb(50, 20, 90);

$light-magenta: rgb(227, 0, 140);
$magenta:       rgb(180, 0, 158);
$dark-magenta:  rgb(92, 0, 92);

$red:           rgb(232, 17, 35);
$dark-red:      rgb(168, 0, 0);

$light-yellow:  rgb(255, 241, 0);
$yellow:        rgb(255, 185, 0);
$light-orange:  rgb(255, 140, 0);
$orange:        rgb(216, 59, 1);   


$white:      rgb(255, 255, 255);
$light-grey: rgb(230, 230, 230);
$grey:       rgb(210, 210, 210);
$mid-grey:   rgb(115, 115, 115);   
$dark-grey:  rgb(80, 80, 80);   
$black:      rgb(0, 0, 0);   
