
main {
  padding-top: 70px;
  width: 95%;
  margin: 0 auto;
  background-color: #e0e0e0
}
body {
  background-color: #e0e0e0
}

footer {
  float: right;
  padding-right: 10px
}

.navbar-left>img {
  height: 50px;
  width: 50px;
  padding-top: 5px;
  margin-right: 10px;
}

.navbar-nav .btn {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
 
#mainview {
  width: 100%;
  background-color: white;
  height: 90vh;
}