<!DOCTYPE html>
<html lang="en">
<head> <% include partials/head %> </head>
<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h2><img src="/public/img/icon.svg" height="90px"/> ARM Template Viewer</h2>
      <p>To begin, load a template using the menu</p>
      <p><a href="/url/http%3A%2F%2Flocalhost%3A3000%2Ftest%2Fweb-cosmos.json">TEST LOAD URL</a></p>
    </div>

  </main>

  <footer> <% include partials/footer %> </footer>

</body>
</html>